fastapi==0.115.0
uvicorn==0.30.3

SQLAlchemy==2.0.23
psycopg2-binary==2.9.9

python-dotenv==1.0.1

paho-mqtt==1.6.1

# Para manejo de modelos Pydantic (FastAPI lo requiere)
pydantic==2.9.2
pydantic-settings==2.2.1

# Para CORS (ya lo usas en main.py)
starlette==0.38.4

# Para servir archivos estáticos
aiofiles==23.2.1
